.container {
    width: 325px;
    height: 325px;
    overflow-x: auto;
    border: 10px solid black;
    background-color: #338991;
    color: #d1edf0;
    margin: auto;
    
}

.weather {
    padding: 10px;
}

#description {
    font-size: 25px;
}